<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>{{{this.title}}}</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
</head>
<body>
	<div id="background">
		<div id="page">
			{{> header}}
			<div id="contents">
				<div class="box">
					<div>
						<div class="body">
							<h1>Travel Details</h1>
							<ul id="sites">
								{{#each trips}}
									<li>
										<a href="/api/trips/{{this.code}}"><img src="images/{{this.image}}" alt="Img"></a>
										<h2><a href="/api/trips/{{this.code}}">{{this.name}}</a></h2>
                                        <p>Code: {{{this.code}}}</p>
                                        <p>Length: {{{this.length}}}</p>
                                        <p>Start: {{{this.start}}}</p>
                                        <p>Resort: {{{this.resort}}}</p>
                                        <p>Per Person: {{{this.perPerson}}}</p>
										<p>Description: </p>
										{{{this.description}}}
									</li>
								{{/each}}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	{{> footer}}
	</div>
</body>
</html>